.sidebar {
    box-shadow: none
    background: none
}
body {
    background:url(/images/yourbackground.png);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position:50% 50%;
}
.back-to-top.back-to-top-on {
    display: none;
}